html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: start;
}

.main {
  min-height: 100vh;
  flex-grow: 1;

  border-left-style: solid;
  border-left-color: gray;
  border-right-style: solid;
  border-right-color: gray;
  border-left-width: 1px;
  border-right-width: 1px;
}

.navbar {
  position: sticky;
  padding: 45px 25px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  list-style: none;
}

.homeHeader {
  position: sticky;
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  padding: 15px 15px 15px 25px;
}

.newForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 25px;
  max-width: 70%;
}

.form {
  display: flex;
  gap: 12px;
}

.textArea {
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  padding: 18px 32px;
  border: 1px solid gray;
  border-radius: 100px;
  font-size: large;
  line-height: 20px;
  outline: none;
}

.button {
  border-radius: 100px;
  border-style: none;
  font: bold;
  font-size: large;
  color: whitesmoke;
  padding: 15px 25px;
  background-color: rgb(138, 43, 226);
  align-self: flex-end;
}

.button:hover,
.button:focus {
  background-color: rgba(138, 43, 226, 0.8);
}

.img {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 100%;
}

@media (width <= 1000px) {
  .newForm {
    max-width: 90%;
  }

  .navbar {
    padding: 25px 10px;
  }
}

@media (width <= 500px) {
  .newForm {
    max-width: 100%;
  }

  .navbar {
    padding: 25px 10px;
  }
}
