html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.main {
  min-height: 100vh;
  flex-grow: 1;
}

.sidebar {
  background-color: rgb(111, 45, 189);
}

.navbar {
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
}

.navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 50px;
}

.navList a {
  display: block;
  padding: 20px 35px;
}

.navList a:hover {
  background-color: rgb(166, 99, 204);
  cursor: pointer;
}

.homeHeader {
  border-bottom-style: solid;
  border-bottom-color: gray;
  border-bottom-width: 1px;
  padding: 15px 15px 15px 35px;
}

.newForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 35px;
  max-width: 60%;
}

.form {
  display: flex;
  gap: 12px;
}

.textArea {
  height: 0;
  flex-grow: 1;
  resize: none;
  overflow: hidden;
  padding: 20px 25px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: large;
  line-height: 1.5;
  letter-spacing: 0.8px;
  outline: none;
}

.button {
  border-radius: 10px;
  border-style: none;
  font: bold;
  font-size: large;
  color: whitesmoke;
  padding: 15px 25px;
  background-color: rgb(111, 45, 189);
  align-self: flex-end;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: rgb(166, 99, 204);
}

.postCardContainer {
  max-width: 60%;
  padding: 35px;
}

.postsCard {
  background-color: #b298dc;
  padding: 20px 25px;
  margin-bottom: 35px;
  border-radius: 10px;
  line-height: 1.5;
  letter-spacing: 0.8px;
  display: flex;
  gap: 12px;
}

.userTitle {
  font-weight: bold;
}

.postCardTitlePlus {
  display: flex;
  gap: 5px;
}

.postCardDash,
.postCardDate {
  font-weight: 300;
}

.postCardContent {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}

.postCardText {
  white-space: pre-wrap;
}

.img {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border: 1px solid gray;
  border-radius: 10px;
}

.likeIcon {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-top: 4px;
  margin-bottom: 4px;
  gap: 6px;
  font-weight: 300;
}

.likeButton {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}

.userIcon {
  height: 100%;
  width: 100%;
}

@media (width <= 1000px) {
  .newForm {
    max-width: 80%;
    padding: 25px;
  }

  .navList a {
    padding: 15px 25px;
  }

  .homeHeader {
    padding: 15px 15px 15px 25px;
  }

  .postCardContainer {
    max-width: 80%;
    padding: 25px;
  }
}

@media (width <= 700px) {
  .newForm {
    max-width: 100%;
    padding: 25px;
  }

  .navList a {
    padding: 10px 15px;
  }

  .homeHeader {
    padding: 15px 15px 15px 25px;
  }

  .postCardContainer {
    max-width: 100%;
    padding: 25px;
  }
}
