html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: start;
}

.main {
  min-height: 100vh;
  flex-grow: 1;

  border-left-style: solid;
  border-right-style: solid;

  border-left-width: 1px;
  border-right-width: 1px;
}

.navbar {
  position: sticky;
  padding: 50px 25px;
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  list-style: none;
}

.homeHeader {
  position: sticky;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 12px;
}
